* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
    background: #f1f1f1;
}

h1 {
    margin: 0 20px 0 0;
}

h2 {
    font-size: 22px;
    margin: 13px 13px 13px 13px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px 
}

p {
    margin: 13px 13px 13px 13px;
}

button {
    width: 10em;
    height: 25px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background: #efecec
}

button:focus {
    cursor: pointer;
    background: #efecec;
    box-shadow: 0px 0px 11px 5px #ccc9c9 inset;
}

.selezionato {
    box-shadow: 0px 0px 11px 5px #ccc9c9 inset;
    background:#efecec
}

.maschio {
    background: #05a6d9
}

.femmina {
    background:pink
}

.senza-genere {
    background:lightgray
}

.genere-sconosciuto {
    background:#fc948c
}

#titolo {
    display: flex;
    align-items: center;
    margin: 20px 20px 0 0;
}


#contenitore {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*max-width: 1500px;*/
    margin-top: 20px;
    /*min-height: 40vh;*/
}


.scheda-personaggio {
    max-width: 300px;
    margin-bottom: 10px;
    /*padding: 20px;*/
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: relative;
}

.titolo-personaggio {
    position: absolute;
    /* top: 20px; */
    background: #0000006e;
    color: white;
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: baseline;
}

.titolo-personaggio div {
    color: rgb(215, 211, 211);
}

img {
    border-radius: 10px 10px 0 0;
}

/*
Altro
*/

.scrolltotop {
    width:48px;
    height:48px;
    position:fixed;
    bottom:50px;
    right:50px;
    display:none;
    opacity:0.6;
    background: url('scroll-arrow-to-up.svg') no-repeat;
}

#titolo img {
    margin-right: 10px;
}

#fixed-prova {
    position: fixed;
    z-index: 1;
    background: #f1f1f1;
    box-shadow: 0 0 3px 3px #00000030;
    width: 100%;
    height: 76px;
    top: -21px;
    left: 0px;
    padding-left: 30px;

    display: flex;
    align-items: center;
    margin: 20px 20px 0 0;

    display: none
}

#fixed-prova img {
    width: 170px; 
    margin-right: 10px;
}